# Ignore specific files
package-lock.json

# Ignore build output folders
/docs/**
/webapp/**
/dev/**
/dist/**

dist
node_modules


# Ignore files by extension
/**/*.svg
/**/*.png
/**/*.md

packages/ui5-cc-spreadsheetimporter/src/Component.gen.d.ts

