site_name: UI5 Custom Control Spreadsheet Upload
site_url: "https://docs.spreadsheet-importer.com/" # required for working 404 page
repo_name: "spreadsheetimporter/ui5-cc-spreadsheetimporter"
repo_url: "https://github.com/spreadsheetimporter/ui5-cc-spreadsheetimporter"
edit_uri: tree/main/docs/
docs_dir: "docs" # default
site_dir: "site" # default
nav:
  - Home: index.md
  - Getting Started: pages/GettingStarted.md
  - How it works: pages/HowItWorks.md
  - Configuration: pages/Configuration.md
  - Events: pages/Events.md
  - Error Handling: pages/Checks.md
  - Table Selector: pages/TableSelector.md
  - Typescript: pages/Typescript.md
  - Supported Versions: pages/SupportVersions.md
  - Central Deployment: pages/CentralDeployment.md
  - Button Control: pages/Button.md
  - Deep Download: pages/spreadsheetdownload.md
  - Update: pages/Update.md
  - API Reference: 'pages/APIReference.md'
  # - UI5 CLI: pages/CLI.md
  - Pro:
      - Getting Started: pages/Pro/install.md
      - Deep Create: pages/Pro/deepcreate.md
  - Development:
      - Getting Started: pages/Development/GettingStarted.md
      - wdi5 Tests: pages/Development/wdi5.md
      - OPA5 Tests: pages/Development/opa5.md
      - Docs: pages/Development/Docs.md
      - GitHub Actions: pages/Development/GitHubActions.md
      - Sample Apps: pages/Development/SampleApps.md
      - Spreadsheet Download: pages/Development/SpreadsheetDownload.md
  - Changelogs:
      - spreadsheetimporter: pages/CHANGELOGSPREADSHEETIMPORTER.md
  - Troubleshooting: pages/Troubleshooting.md
  - User Documentation: pages/UserDocumentation.md
  - Use Cases: pages/UseCases.md
  # - Extensibility:
  #   - Custom Tasks: pages/extensibility/CustomTasks.md
  #   - Custom Server Middleware: pages/extensibility/CustomServerMiddleware.md
  #   - Project Shims: pages/extensibility/ProjectShims.md
  # - Modules:
  #   - Server: pages/Server.md
  #   - Builder: pages/Builder.md
  #   - Project: pages/Project.md
  # - Upgrade Guides:
  #   - Migrate to v2: updates/migrate-v2.md
  #   - Migrate to v1: updates/migrate-v1.md
  # - FAQ: pages/FAQ.md
  # - Troubleshooting: pages/Troubleshooting.md
  # - API Reference: 'api/index.html' # only available in final build, not serve

theme:
  name: "material"
  custom_dir: docs/overrides
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

  # logo: "images/logo.svg"
  # favicon: "images/favicon.png"
  font: false
  features:
    - navigation.expand
    - content.code.copy
    - palette.switch

extra:
  analytics:
    provider: custom
    property: foobar 


plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - attr_list
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  # PyMdown Extensions Documentation: https://facelessuser.github.io/pymdown-extensions/extensions/betterem/
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.tabbed
  - pymdownx.superfences
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.caret
  - pymdownx.snippets
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

dev_addr: "localhost:8000"
