name: Build and Push Docker image

on:
  push:
    branches:
      - main  # Trigger on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest  # Use the latest Ubuntu runner

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4  # Checkout the repository content

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3  # Set up QEMU to enable emulation of different architectures

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3  # Set up Docker Buildx for building multi-architecture images

    - name: Log in to DockerHub
      uses: docker/login-action@v3  # Login to Docker Hub
      with:
        username: ${{ secrets.DOCKER_USERNAME }}  # Docker Hub username
        password: ${{ secrets.DOCKER_PASSWORD }}  # Docker Hub password or token

    - name: Build and push
      uses: docker/build-push-action@v5  # Build and push the Docker image
      with:
        context: .  # Context for build
        file: ./examples/Dockerfile  # Path to the Dockerfile
        push: true  # Enable pushing the built image to Docker Hub
        tags: greatoceandrive/ui5-spreadsheet-importer-examples:latest  # Tag for the built image
        platforms: linux/amd64,linux/arm64  # Platforms to build the image for

    - name: Logout from DockerHub
      if: always()  # Logout from Docker Hub after pushing the image
      run: docker logout
  deploy:
    runs-on: ubuntu-latest
    needs: build  # Ensure deploy runs after the build succeeds
    steps:
        - name: Deploy to Server
          uses: appleboy/ssh-action@master
          with:
              host: ${{ secrets.SERVER_IP }}
              username: ${{ secrets.SERVER_USERNAME }}
              key: ${{ secrets.SSH_PRIVATE_KEY }}
              script: |
                  # Update and restart the container
                  docker pull greatoceandrive/ui5-spreadsheet-importer-examples:latest 
                  docker stop thirsty_ritchie || true  
                  docker rm thirsty_ritchie || true    
                  docker run -d --restart unless-stopped -p 4004:4004 --name thirsty_ritchie greatoceandrive/ui5-spreadsheet-importer-examples:latest 
